# Ignore secrets and environment files
#.env
#srcs/.env

# Ignore secrets folders
#secrets/
#srcs/secrets/

# Ignore Vault data
#srcs/data/vault/file/

# Ignore certificate and key files
#*.pem
#*.key

# Ignore VS Code settings
.vscode/